<!--Created by gina on 9/19/18.
-->
<div ng-controller="LoginController as login" class="container-fluid login-page">
   <div class="login-block block-center">
      <div class="signin-label">Login</div>
      <div class="signin-description-label">Type your company domain name to login.</div>
      <div class="signin-input-container form-group">
         <div class="at-label">@</div>
         <input type="text" name="domain" placeholder="Comapany domain name" ng-model="login.domain" class="domain-input form-control" />
         <div class="dot-label">.</div>
         <input type="text" name="com" placeholder="com" ng-model="login.com" class="com-input form-control" />
      </div>
      <button type="submit" ng-click="login.signIn(login.domain, login.com)" class="btn btn-primary search-button">Search</button>
   </div>
</div>