<!-- START Footer-->
<div class="footer page-footer font-small unique-color-dark">
   <div class="foot-container">
      <div class="left-container">
         <div class="logo-label">DataGraviti</div>
         <div class="copyright-label">Copyright © DataGraviti All rights reserved</div>
      </div>
      <div class="right-container">
         <div class="sns-icons">
            <div class="sns-icon icon1"></div>
            <div class="sns-icon icon2"></div>
            <div class="sns-icon icon3"></div>
            <div class="sns-icon icon4"></div>
            <div class="sns-icon icon5"></div>
         </div>
         <div class="menu-buttons">
            <div class="foot-menu foot-menu1">About us</div>
            <div class="foot-menu foot-menu2">FAQ</div>
            <div class="foot-menu foot-menu3">Blog</div>
            <div class="foot-menu foot-menu4">Terms of Use</div>
            <div class="foot-menu foot-menu5">Privacy Policy</div>
         </div>
      </div>
   </div>
</div>