<!-- START Top Navbar-->
<nav role="navigation" ng-controller="TopNavbarController as topnav" class="navbar topnavbar">
   <!-- START navbar header-->
   <div class="navbar-header">
      <ul class="nav">
         <li><a href="#/">LG MARKETPLACE</a>
         </li>
      </ul>
   </div>
   <!-- START Nav wrapper-->
   <div class="nav-wrapper">
      <!-- START Right Navbar-->
      <ul class="nav navbar-nav navbar-right">
         <!-- Search icon-->
         <li><a ng-click="">Admin</a>
         </li>
      </ul>
   </div>
</nav>
<!-- END Top Navbar-->